<div class="content" id="content" *ngFor="let post of posts">
  <div class="content__sub" id="content__display">
    {{ post.image }}
    <h3 class="content__modifier content__head" id="myBtn">
      {{ post.heading }}
    </h3>
    <p class="content__modifier content__date">
      {{ post.date }}
    </p>
    <p class="content__modifier content__matter">
      {{ post.content }}
    </p>
    <a href="#!" class="content__modifier btn btn--pink" id="myBtn"
      >Continue Reading</a
    >
  </div>
</div>
