<div class="main">
  <div>
    <select
      id="sel-category"
      class="form__select-box"
      (change)="changeHeading($event)"
    >
      <option value="All" style="display: none">All</option>
      <option value="BBC">BBC</option>
      <option value="FOX">FOX</option>
      <option value="NBC">NBC</option>
    </select>

    <input type="text" placeholder="Type your Text..." class="filterTextbox" />
    <button class="filterBtn">Filter</button>
    <button class="addBtn" routerLink="/addform">Add Article</button>
    <hr />
  </div>
</div>
